.parent {
  width: 400px;
  height: 200px;
  display: flex;
  outline: 1px red solid;

  .child-1 {
    flex: 0 2 300px;
    background-color: #32d6d6;
  }

  .child-2 {
    flex: 0 1 200px;
    background-color: #e2a83e;
  }

  .child-3 {
    flex: 0 2 100px;
    background-color: #b85ad0;
  }
}

.parent-1 {
  width: 400px;
  height: 200px;
  display: flex;
  outline: 1px red solid;

  .child-4 {
    flex: 1 1;
    padding: 50px;
    background-color: #e2a83e;
    background-clip: content-box;
  }

  .child-5 {
    flex: 1 1;
    padding: 20px;
    background-color: #b85ad0;
    background-clip: content-box;
  }
}